<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>

<a th:href="@{/logout}">Logout</a>

Logged as <td th:text="${currentUser}"/>

Logged as (thymeleaf) <td sec:authentication="name"/>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Description</th>
        <th scope="col">Release Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.isbn}"/>
        <td th:text="${book.description}"/>
        <td th:text="${book.releaseDate}"/>
        <td><a th:href="@{/delete/{id} / (id=${book.id}) }">delete</a></td>
        <td><a th:href="@{/edit/{id}/(id=${book.id}) }">edit</a></td>
    </tr>
    </tbody>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/create}">Add new book</a>
</div>

</body>
</html>