<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>

Logged as <td sec:authentication="name"/>

<a th:href="@{/logout}">Logout</a>

<div sec:authorize="hasRole('ROLE_ADMIN')">
  <a th:href="@{/admin/panel}">Return to admin panel</a>
</div>

<div sec:authorize="hasRole('ROLE_USER')">
  <a th:href="@{/user/panel}">Return to user panel</a>
</div>

<p th:text="${exceptionMessage}"/>

</body>
</html>