<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User panel</title>
</head>
<body>

    <h1>User panel</h1>

    Logged as <td sec:authentication="name"/>

    <a th:href="@{/logout}">Logout</a>

    <a th:href="@{/books}">Show all books</a>

</body>
</html>