<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome with message</title>
</head>
<body>

<p th:text="${helloMsg}"></p>

<!-- Poniższa zmienna pochodzi z pliku messages.properties -->
<p th:text="#{pl.sda.message}"/>


<div>
    <p th:each="elem : ${elements}" th:text="${elem}"/>
</div>

</body>
</html>